* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #121212;
  background-image: radial-gradient(
    circle at bottom center,
    rgba(0, 255, 0, 0.6) 0%,
    rgba(0, 255, 0, 0.4) 20%,
    rgba(0, 255, 0, 0.2) 40%,
    rgba(0, 255, 0, 0) 60%
  );
  color: white;
  height: 100vh;
  padding: 2rem;
}

.message {
  position: fixed;
  top: 0;
  background-color: white;
  color: black;
  width: 15rem;
  z-index: 9999;
  padding: 10px 20px;
  border-radius: 8px;

  animation: slideDownUp 3s ease forwards;
  display: flex;
  align-items: center;
  gap: 5px;
}

@keyframes slideDownUp {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.message.good {
  border: 1px solid rgb(22, 231, 106);
  box-shadow: 0 4px 8px rgba(112, 217, 93, 0.2);
}

.message.bad {
  border: 1px solid rgb(231, 46, 22);
  box-shadow: 0 4px 8px rgba(229, 61, 58, 0.2);
}

.main {
  position: relative;
  top: 30%;
  text-align: center;
}

h1 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
  margin-top: 2rem;
  height: 50;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0;
}

button {
  border-radius: 0;
  border: none;
  padding: 5px;
  cursor: pointer;
  color: black;
}

#reason {
  width: 10rem;
}

#copy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 1.25rem;
  color: black;
}

button:disabled {
  opacity: 1;
  background-color: white;
  cursor: default;
  pointer-events: none;
}
